

    <footer class=" ">
        <div class="row col bg-danger text-dark container-fluid vw-100">
          <div class="col  text-center">
            <h5>Follow us</h5>
            <ul class="list-inline">
                <li class="list-inline-item"><a  href="https://www.linkedin.com/"><img class="img-fluid" style="width: 25px;" src="linkedin.png" alt="linkedin"></a></li>
                <li class="list-inline-item"><a  href="https://www.facebook.com"><img class="img-fluid" style="width: 25px;" src="facebook.png" alt="facebook"></a></li>
                <li class="list-inline-item"><a  href="https://www.youtube.com"><img class="img-fluid" style="width: 25px;" src="youtube.png" alt="youtube"></a></li>
                <li class="list-inline-item"><a  href="https://www.twitter.com"> <img class="img-fluid" style="width: 25px;" src="twitter.png" alt="twitter"></a></li>   
            </ul>
          </div>
          <div class="col  text-center">
            <h5>Company</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-white" href="/">Home</a></li>
              <li><a class="text-white" href="#">News</a></li>
              <li><a class="text-white" href="#">About us</a></li>
              <li><a class="text-white" href="#">Career Options</a></li>
              <li><a class="text-white" href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col  text-center">
            <h5>Support</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-white" href="#">Help Center</a></li>
              <li><a class="text-white" href="#">Customer Support</a></li>
              <li><a class="text-white" href="#">Check System Status</a></li>
            </ul>
          </div>
        </div>
      </footer>