
<div class="w-100 container-fluid">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">    
        <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
            <a class="navbar-brand" href="/">
                <img class="img-fluid" src="img.jpg" width="10" height="10" alt="Web Hosting img">
            </a>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">TTA Main<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plans">Server Packages</a>
            </li>           
            <li class="nav-item">
              <a class="nav-link" href="/registration">Sign-up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          
        </div>
    </nav>
  </div>
    